---
import '../../styles/global.css';
import Layout from '../layouts/Layout.astro';
const age = Math.floor(
  (new Date().getTime() - new Date('1989-03-01').getTime()) / 3.15576e10
);
---

<Layout
  description="Personal information about Lionel Tchami"
  title="Lionel Tchami | Personal"
>
  <section class="my-auto">
    <div
      class="flex flex-col gap-y-8 md:grid md:grid-cols-2 md:gap-8 items-center content-center"
    >
      <img
        width={194}
        height={150}
        class="min-h-[66.66%] min-w-[66.66%] mx-auto"
        alt="Illustration of me working on laptop"
        src="/personal.svg"
      />
      <div class="bg-secondary text-white rounded-lg p-6">
        <div class="flex flex-col gap-y-4">
          <h1 class="text-2xl lg:text-4xl font-bold">Who am I?</h1>
          <p>
            Hi, I&apos;m Lionel. I&apos;m {age} years old, living in Calgary, Canada.
            <br />
            I&apos;m a professional <b>DevOps Engineer</b>, currently working
            as a DevOps Consultant with Apoti Tech Inc.
          </p>

          <div>
            <p>
              In general I really love to learn new things. My favourite kind of holiday
              is a roadtrip with a family and or friends, doing lots of hikes in nature and
              going for a swim in the sea at the end of the day!
              <br />
              When I&apos;m on my computer learning new things, I like outdoors. I play Tennis,
              cycle a lot, and I go for the occasional run.
            </p>
            <p>
              I have a MSc in Geology and studied Computer Sciences myself. I chose
              the Computer field and continued with it due to my love and passion for it.
              I remember going to CHICS Buea in 1996-97 to learn how to use DOS. My intro to IT! <br />
              After graduating with my MSc, I worked for the startup Planet IT and got started as a Linux,
              System Admin, my role was to manage our servers as well as that of our clients.<br />It was
              some years after this that I got into DevOps and then travelled out to Calgary Canada.
            </p>
            <p>
              You can read more about my work in the{' '}
              <a rel="prefetch" class="link" href="/portfolio">portfolio</a>{
                ' '
              }
              section .
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
